In [3]:
from competitor import Competitor
from db import conn

## Many competitors

In [4]:
comps = conn.as_pandas('select * from competitors where category="men_90"', parse_dates=['last_extraction'])

In [5]:
comps.head()

                      name country profile_id category last_extraction
0  SHERAZADISHVILI Nikoloz     ESP      16577   men_90      2021-06-06
1           VAN T END Noel     NED       9301   men_90      2021-04-16
2            BEKAURI Lasha     GEO      30263   men_90      2021-04-16
3           TOTH Krisztian     HUN       3364   men_90      2021-04-16
4           MAJDOV Nemanja     SRB      16206   men_90      2021-05-05

In [28]:
comps[comps.name.str.contains("Eduard")]

              name country profile_id category last_extraction
14  TRIPPEL Eduard     GER      19907   men_90      2021-05-05

for c_name in comps.name.values:
    c_id = comps[comps.name == c_name].iloc[0].profile_id
    c = Competitor(c_id)
    c.delete_info()

In [6]:
comps.shape

(100, 5)

In [7]:
errors = []

In [12]:
c = Competitor("16577")
c.update_actions()

page number: 1

In [29]:
name = "TRIPPEL"

In [30]:
battles = conn.as_pandas('select * from battles where category="men_90"')

b = battles[battles.local.str.contains("Niko")]

actions = conn.as_pandas('select * from actions')

a = actions[actions.local.str.contains("Nikoloz")]

Battles

In [31]:
bb = b[b.opponent.str.contains(name)][['wins', 'opponent', 'event', 'date', 'round',
       'local_points', 'opponent_points', 'duration']]

In [32]:
bb.columns

Index(['wins', 'opponent', 'event', 'date', 'round', 'local_points',
       'opponent_points', 'duration'],
      dtype='object')

In [33]:
bb

,wins,opponent,event,date,round,local_points,opponent_points,duration
27,1,TRIPPEL Eduard,Grand Slam Abu Dhabi 2019,2019-10-24 00:00:00,Quarter-Final,10,0,00:00

Actions

In [34]:
aa = a[a.opponent.str.contains(name)].drop_duplicates()

In [35]:
aa

Empty DataFrame
Columns: [local, opponent, you, action, action_detail, time, url_youtube, event]
Index: []

In [21]:
b.head()

,index,wins,local,opponent,event,date,round,local_points,opponent_points,duration,category,has_video,competition_family,url_video
0,0,0,SHERAZADISHVILI Nikoloz,SMINK Jesper,European Championships Lisbon 2021,2021-04-16 00:00:00,Round 2,0,10,04:39,men_90,1,Continental Championships,https://judobase.ijf.org/#/competition/contest...
1,1,0,SHERAZADISHVILI Nikoloz,BEKAURI Lasha,Grand Slam Tel Aviv 2021,2021-02-18 00:00:00,Final,0,10,04:00,men_90,1,Grand Slam,https://judobase.ijf.org/#/competition/contest...
2,2,1,SHERAZADISHVILI Nikoloz,MEHDIYEV Mammadali,Grand Slam Tel Aviv 2021,2021-02-18 00:00:00,Semi-Final,100,0,01:58,men_90,1,Grand Slam,https://judobase.ijf.org/#/competition/contest...
3,3,1,SHERAZADISHVILI Nikoloz,BOZBAYEV Islam,Grand Slam Tel Aviv 2021,2021-02-18 00:00:00,Quarter-Final,100,0,01:51,men_90,1,Grand Slam,https://judobase.ijf.org/#/competition/contest...
4,4,1,SHERAZADISHVILI Nikoloz,GROSSKLAUS Ciril,Grand Slam Tel Aviv 2021,2021-02-18 00:00:00,Round 3,100,0,03:02,men_90,1,Grand Slam,https://judobase.ijf.org/#/competition/contest...

In [14]:
battles.shape

(6094, 14)

In [ ]:
for c_name in comps["name"].values:
    print(c_name)
    
    c_id = comps[comps.name == c_name].iloc[0].profile_id
    c = Competitor(c_id)
    try:
        c.update_actions()
    except Exception as e:
        print("error", e)
        errors.append(c_name)

SHERAZADISHVILI Nikoloz
error time data '' does not match format '%d %b %Y'
VAN T END Noel
error time data '' does not match format '%d %b %Y'
BEKAURI Lasha
error time data '' does not match format '%d %b %Y'
TOTH Krisztian
error time data '' does not match format '%d %b %Y'
MAJDOV Nemanja
error time data '' does not match format '%d %b %Y'
SILVA MORALES Ivan Felipe
error time data '' does not match format '%d %b %Y'
GVINIASHVILI Beka
error time data '' does not match format '%d %b %Y'
IGOLNIKOV Mikhail
error time data '' does not match format '%d %b %Y'
MUKAI Shoichiro
error time data '' does not match format '%d %b %Y'
MEHDIYEV Mammadali
error time data '' does not match format '%d %b %Y'
NAGASAWA Kenta
error time data '' does not match format '%d %b %Y'
ZGANK Mihael
error time data '' does not match format '%d %b %Y'
BOBONOV Davlat
error time data '' does not match format '%d %b %Y'
NYMAN Marcus
error time data '' does not match format '%d %b %Y'
TRIPPEL Eduard
error time data '' does not match format '%d %b %Y'
GWAK Donghan
error time data '' does not match format '%d %b %Y'
CLERGET Axel
error time data '' does not match format '%d %b %Y'
MACEDO Rafael
error time data '' does not match format '%d %b %Y'
MURAO Sanshiro
error time data '' does not match format '%d %b %Y'
GANTULGA Altanbagana
error time data '' does not match format '%d %b %Y'
USTOPIRIYON Komronshokh
error time data '' does not match format '%d %b %Y'
KOCHMAN Li
error time data '' does not match format '%d %b %Y'
MUNGAI Nicholas

In [8]:
comps = conn.as_pandas('select * from competitors where category="men_66"', parse_dates=['last_extraction'])

In [9]:
comps.head()

                   name country profile_id category last_extraction
0       LOMBARDO Manuel     ITA      18436   men_66      2014-04-16
1               AN Baul     KOR       9713   men_66      2014-04-16
2  MARGVELASHVILI Vazha     GEO       9546   men_66      2014-04-16
3            ABE Hifumi     JPN      13208   men_66      2014-04-16
4      MARUYAMA Joshiro     JPN      15144   men_66      2014-04-16

for c_name in comps.name.values:
    c_id = comps[comps.name == c_name].iloc[0].profile_id
    c = Competitor(c_id)
    c.delete_info()

In [10]:
errors2 = []

In [11]:
comps.shape

(100, 5)

In [12]:
for c_name in comps["name"].values:
    print(c_name)
    
    c_id = comps[comps.name == c_name].iloc[0].profile_id
    c = Competitor(c_id)
    try:
        c.update_actions()
    except Exception as e:
        print("error", e)
        errors2.append(c_name)

LOMBARDO Manuel
page number: 1
page number: 2
page number: 3
AN Baul
page number: 1
page number: 2
MARGVELASHVILI Vazha
page number: 1
page number: 2
page number: 3
error list index out of range
ABE Hifumi
page number: 1
page number: 2
MARUYAMA Joshiro
page number: 1
GANBOLD Kherlen
page number: 1
page number: 2
SHMAILOV Baruch
page number: 1
page number: 2
page number: 3
GAITERO MARTIN Alberto
page number: 1
page number: 2
page number: 3
YONDONPERENLEI Baskhuu
page number: 1
page number: 2
NURILLAEV Sardor
page number: 1
page number: 2
KIM Limhwan
page number: 1
page number: 2
CARGNIN Daniel
page number: 1
page number: 2
page number: 3
SERIKZHANOV Yerlan
page number: 1
page number: 2
VIERU Denis
page number: 1
page number: 2
page number: 3
error list index out of range
SHAMILOV Yakub
page number: 1
page number: 2
FLICKER Tal
page number: 1
page number: 2
page number: 3
ABDELMAWGOUD Mohamed
page number: 1
page number: 2
ZANTARAIA Georgii
page number: 1
page number: 2
GRIGORYAN Aram
page number: 1
page number: 2
SAFAROV Orkhan
page number: 1
page number: 2
SHIKHALIZADA Nijat
page number: 1
page number: 2
PULIAEV Mikhail
page number: 1
page number: 2
error list index out of range
ZHUMAKANOV Yeldos
page number: 1
page number: 2
LIMA Willian
page number: 1
page number: 2
GOMBOC Adrian
page number: 1
page number: 2
error list index out of range
ABDULZHALILOV Abdula
page number: 1
page number: 2
NINIASHVILI Bagrati
page number: 1
page number: 2
LE BLOUCH Kilian
page number: 1
page number: 2
IADOV Bogdan
page number: 1
page number: 2
MINKOU Dzmitry
page number: 1
page number: 2
SEIDL Sebastian
page number: 1
page number: 2
CHOPANOV Murad
page number: 1
page number: 2
ABELRAHMAN Ahmed
page number: 1
page number: 2
POSTIGOS Juan
page number: 1
page number: 2
VAN GANSBEKE Kenneth
page number: 1
page number: 2
POLANCO Orlando
page number: 1
BASSOU Imad
page number: 1
page number: 2
PEREZ ROMAN Daniel
page number: 1
page number: 2
SOLIS Oniel
page number: 1
AKHADOV Shakhram
page number: 1
TILOVOV Mukhriddin
page number: 1
page number: 2
VALOIS Jacob
page number: 1
page number: 2
BURNS Nathon
page number: 1
page number: 2
KATZ Nathan
page number: 1
page number: 2
ALIYEV Ibrahim
page number: 1
page number: 2
TE Artur
page number: 1
page number: 2
BUNCIC Strahinja
page number: 1
page number: 2
MEDVES Matteo
page number: 1
page number: 2
SHERSHAN Dzmitry
page number: 1
page number: 2
TSAI Ming Yen
page number: 1
POLIAK Matej
page number: 1
page number: 2
CRISOSTOMO Joao
page number: 1
page number: 2
TEMELKOV Bozhidar
page number: 1
page number: 2
DOVDON Altansukh
page number: 1
page number: 2
KUANOV Yesset
page number: 1
WAWRZYCZEK Patryk
page number: 1
page number: 2
PETRIKOV Pavel
error No encontró la tabla apropiada en Contests
SCHEIBEL Manuel
page number: 1
page number: 2
MUNGANDU Steven
page number: 1
BOUSHITA Abderrahmane
page number: 1
page number: 2
SAINI Jasleen Singh
page number: 1
GARCIA TORNE David
page number: 1
page number: 2
ALMOG Tal
page number: 1
MATEO Wander
page number: 1
page number: 2
AIDA Yuji
page number: 1
SANCHO CHINCHILA Ian
page number: 1
LOFORTE Kevin
page number: 1
MA Duanbin
page number: 1
EZZINE Wail
page number: 1
NURKOVIC Jusuf
page number: 1
page number: 2
BUNESCU Vadim
page number: 1
BATTOGTOKH Erkhembayar
page number: 1
HERNANDEZ Juan
page number: 1
page number: 2
CHIBANA Charles
page number: 1
page number: 2
CASTILLO Nabor
page number: 1
EL IDRISSI Alaa
page number: 1
page number: 2
ELIDRISSI Ayoub
page number: 1
CULLHAJ Indrit
page number: 1
ALBASHI Abdulaziz
page number: 1
MUDRANOV Beslan
page number: 1
MARCELINO Michael
page number: 1
page number: 2
CESAR Diogo
page number: 1
SANDAL Sinan
error No encontró la tabla apropiada en Contests
BOROS Bence
page number: 1
page number: 2
ISAEV Isa
page number: 1
DAVAADORJ Tumurkhuleg
page number: 1
MENAGED Yarin
page number: 1
page number: 2
PIRAS Matteo
page number: 1
page number: 2
ZHUBATKAN Sunggat
page number: 1
page number: 2
OLEINIC Sergiu
page number: 1
page number: 2
TAKEOKA Takeshi
page number: 1
BERLINER Ari
page number: 1
STEFANELLI Biagio
page number: 1
BORS DUMITRESCU Lucian
page number: 1
page number: 2
CADET Gerard
page number: 1
VAREY Gregg
page number: 1
FRASCADORE Julien
page number: 1
JEAN Daniel
page number: 1
KHAMETOV Islam
page number: 1
MICELI Mattia
page number: 1
page number: 2
page number: 3

## Competitor

In [9]:
comps = conn.as_pandas('select * from competitors where category="women_52"', index_col='index', parse_dates=['last_extraction'])

In [4]:
c = Competitor("35696")

### Update battles

In [11]:
c.update_battles()

Looking for new battles from ABE Uta
Extracting video URLs...
There are new battles!

### Update actions

In [8]:
c.update_actions()

Looking for new battles from ABE Uta
Up to date!

AttributeError: 'int' object has no attribute 'itertuples'

## All competitors list

In [2]:
def extract_all_profiles_weight(driver, weight):
    """
    Extract top100 competitors of given weight: name, country, profile_url. Not the WRL points, that changes much and we don't need it
    
    Args:
        driver (selenium.webdriver): driver to interact with the web via selenium
        weight (str): one of men_60, men_100+, women_70...
        
    Return:
        competitors (pd.DataFrame): summary of top100 competitors
    """
    # access url
    url_top = url_leaders_by_weight[weight]

    driver.get(url_top)
    time.sleep(1)
    try:
        driver.maximize_window()
    except:
        pass
    time.sleep(1)

    
    # extract info
    tabla = driver.find_element_by_tag_name('tbody')
    assert tabla.get_attribute('role') == 'alert', 'Expected table not found'

    # how to treat the text of each column
    treatment_competitor = {
        2: lambda name: name.strip(),
        3: lambda country: country,
    }

    competitors = []
    for row in tabla.find_elements_by_tag_name('tr'):
        competitor = []
        for index, value in enumerate(row.find_elements_by_tag_name('td')):
            if index in treatment_competitor.keys():
                competitor.append(treatment_competitor[index](value.text))
            elif index == 1:
                profile_web = value.find_element_by_tag_name('img').get_attribute('src')
                cut_from, cut_to = profile_web[::-1].find('/'), profile_web[::-1].find('.')
                profile_id = profile_web[-cut_from : -cut_to - 1]

        competitor.append(profile_id)
        competitors.append(competitor)


    competitors = pd.DataFrame(competitors, columns=['name', 'country', 'profile_id'])
    competitors['category'] = weight
    
    
    return competitors

In [3]:
from config import url_leaders_by_weight

In [4]:
from driver import driver

In [5]:
import pandas as pd

In [6]:
3

3

In [7]:
import time

In [8]:
competitors_all = list()

for weight in url_leaders_by_weight.keys():
    print(weight, '...')
    competitors = extract_all_profiles_weight(driver, weight)
    competitors_all.append(competitors)

competitors_all = pd.concat(competitors_all)

men_60 ...
men_66 ...
men_73 ...
men_81 ...
men_90 ...
men_100 ...
men_100+ ...
women_48 ...
women_52 ...
women_57 ...
women_63 ...
women_70 ...
women_78 ...
women_78+ ...

In [9]:
competitors_all["last_extraction"] = "2010/01/01"

In [11]:
from db import conn

In [12]:
conn.drop_table("competitors")

conn.add_table('competitors', competitors_all, if_exists='fail')